.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 7% 5%;
  place-items: center;
}

.card:hover{
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0,0,0,0.20);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid #cf2689;
  transition: transform 0.4s, box-shadow 0.4s;
}

.image {
  width: 100%;
  border-radius: 1.5rem;
  outline: 2px solid #00822e15;
}

.title {
  font-size: 1rem;
  padding-top: 1rem;
}

.input-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 1rem;
}

.input {
  padding: 1rem 4rem 1rem 1rem;
  font-size: 1rem;
}

#btn{
    padding: 17px;
}

.btn:hover{
    background-color: rgb(238, 103, 157);   
}